        h1 {
            color: red;
            text-align: center;
        }
        
        body {
            background-position: 0, 0;
            /*background-color: red;*/
            background-image: url(/FRAMESDEADPOOL/Space\ Galaxy\ Wallpaper\ Space\ Wallpaper.jpg);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }